@import "tailwindcss";

@font-face {
  font-family: 'CustomSansFont';
  src: url('/sans.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CustomSerifFont';
  src: url('/serif.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
    --font-sans: "CustomSansFont", sans-serif;
    --font-serif: "CustomSerifFont", serif;
}